<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <table border="1" width="900" style="border-collapse:collapse" align="center">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Age</th>
            <th>PassportNumber</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type=""*/-->
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getAge()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!--<form th:method="POST" th:action="@{/users}" th:object="${users}">-->
<!--    <br><br>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <label for="name">Enter name</label>-->
<!--    <br>-->
<!--    <input type="text" th:field="*{lastName}" id="lastName"/>-->
<!--    <label for="name">Enter LastName</label>-->
<!--    <br>-->
<!--    <input type="text" th:field="*{passportNumber}" id="passportNumber"/>-->
<!--    <label for="name">Enter PassportNumber</label>-->
<!--    <br>-->
<!--    <input type="text" th:field="*{age}" id="age"/>-->
<!--    <label for="name">Enter Age</label>-->
<!--    <br>-->
<!--    <input type="submit" value="Create!"/>-->
<!--</form>-->
</body>
</html>